body {
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.jumbotron {
    background-color: rgb(207, 147, 56);
}

.heading {
    margin-top: -30px;
}

#choose-sport {
    margin-top: -32px;
    width: 100%;
}
header, .headlines {
    text-align: center;
    color: #fff;
    margin-top: 10%;
}

.border-right, .bg-light {
    background-color: #212529!important;
    color: white;
}

.border-right {
    border-right:  #212529!important;
    padding: 20px;
}

tr {
    text-align: center;
    width: 100%;
}
.card-text {
    color: #222;
}

.table{
    width: 100%;
    overflow-x: scroll;
}

footer {
    position: fixed;
}

.fixed-bottom {
    margin-top: auto;
}

